<ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-item> 
     <button ion-button block (click)="openComponent()">component</button>
  </ion-item>
  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION1' | translate }}</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION2' | translate }}</ion-label>
        <ion-input formControlName="option2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION3' | translate }}</ion-label>
        <ion-select formControlName="option3">
          <ion-option value="1" checked="true">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_LANGUAGE' | translate }}</ion-label>
        <ion-select formControlName="language" [(ngModel)]="language" 
        cancelText="{{'CANCEL_BUTTON' | translate}}" 
        okText="{{'CONFIRM_BUTTON' | translate}}">
          <ion-option *ngFor="let lang of languages" value="{{lang.value}}" >{{lang.name}}</ion-option>
        </ion-select>
      </ion-item>

      <button ion-item [navPush]="subSettings" [navParams]="profileSettings">
        {{ 'SETTINGS_PROFILE_BUTTON' | translate }}
      </button>

      

    </ion-list>

    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>
    </ion-list>

    
  </form>

    

  <button ion-button full round color="danger" (click)="loginOut()">{{ 'SETTINGS_LOGIN_OUT' | translate}}</button>
</ion-content>